@inject LoginState _loginState;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">糖尿病個案管理系統</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @if (!_loginState.IsLogin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <Icon Type="home" Theme="outline"/> 　登入
                </NavLink>
            </div>
        }
        else if(_loginState.User.RoleType == RoleType.Manager)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addcase" Match="NavLinkMatch.All">
                    <Icon Type="edit" Theme="outline"/> 　個案登錄
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="search" Match="NavLinkMatch.All">
                    <Icon Type="search" Theme="outline"/> 　搜尋
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private System.Timers.Timer _timer;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void OnInitialized()
    {

    }
}
